@import url("https://fonts.googleapis.com/css?family=Pacifico");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pacifico";
}

body {
  background: url(https://lonelyplanetstatic.imgix.net/op-video-sync/images/production/p-5743221176001-brightcove-island-life-the-best-beaches-in-hawaii-20180309-152803.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  position: relative;
  align-content: space-around;
}
.overlay {
  height: 100%;
  width: 100%;
  opacity: 0.5;
  position: absolute;
  background: linear-gradient(60deg, purple, orange, yellow);
}
h1 {
  padding: 100px 0;
  position: relative;
  text-align: center;
  color: white;
  font-size: 60px;
  letter-spacing: 10px;
}
.clock {
  position: relative;
  height: 300px;
  width: 300px;
  border: white 10px solid;
  border-radius: 50%;
}

.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-3px); /* account for the height of the clock hands */
}

.hand {
  width: 50%;
  height: 6px;
  position: absolute;
  top: 50%;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition: all 0.05s;
  transition-timing-function: cubic-bezier(0.1, 1.7, 0.58, 1);
  border: 0.3px solid white;
}

.second {
  background: white;
  height: 4px;
  border: none;
}
.minute {
  background: gray;
  box-shadow: 0 0 2px white;
}
.hour {
  width: 50%;
  height: 10px;
  background: orange;
  box-shadow: 0 0 2px white;
}
